<div class="about-container">
  <section class="about-main-column">
    <img
      [src]="routePrefix + '/assets/images/about/who-we-are.png'"
      alt="7 people standing"
      loading="lazy"
    >
    <h1>Who We Are</h1>
    <p>
      The team at Calorie Extraction are passionate individuals that always
      bring their best selves to ensure you reach your health and fitness
      goals. At Calorie Extraction, we believe that fitness is not just a goal,
      but a lifestyle. That is why you can select a variety of workouts and
      equipment to suit your needs and preferences. Whether you want to lose
      weight, build muscle, improve your endurance, or just have fun, we have
      something for you.
    </p>
  </section>
  <section class="our-values">
    <h2>Our Values</h2>
    <div class="our-values-grid">
      <img
        class="image-our-values"
        [src]="routePrefix + '/assets/images/about/our-values.jpg'"
        alt="4 people holding hands"
        loading="lazy"
      >
      <div class="our-values-right-side">
        <div class="respect-passion-trust-grid">
          <mat-icon
            class="icon"
            fontSet="material-icons-round"
            aria-label="thumbs up"
          >
            thumb_up
          </mat-icon>
          <div>
            <h3>Respect</h3>
            <p>Treat everyone how you want to be treated</p>
          </div>
        </div>
        <div class="respect-passion-trust-grid">
          <mat-icon
            class="icon"
            fontSet="material-icons-round"
            aria-label="heart"
          >
            favorite
          </mat-icon>
          <div>
            <h3>Passion</h3>
            <p>Do it because you love doing it</p>
          </div>
        </div>
        <div class="respect-passion-trust-grid">
          <mat-icon
            class="icon"
            fontSet="material-icons-round"
            aria-label="shield"
          >
            shield
          </mat-icon>
          <div>
            <h3>Trust</h3>
            <p>Everyone has your best interest at heart</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-main-column esg-container">
    <h2 class="esg-responsibilities">ESG Responsibilities</h2>
    <div class="esg-item">
      <img
        [src]="routePrefix + '/assets/images/about/esg-environmental.jpg'"
        alt="A tree"
        loading="lazy"
      >
      <h3>Environmental</h3>
      <p>
        Calorie Extraction is committed to reducing its environmental impact.
        We strive to reduce our emissions wherever possible. We reduce, reuse,
        and recycle from start to finish and incorporate that mindset from
        start to finish. We also encourage patrons to reduce their carbon
        footprint by walking, which is a good form of exercise, as much as
        possible, to get the best of both worlds.
      </p>
    </div>
    <div class="esg-item">
      <img
        [src]="routePrefix + '/assets/images/about/esg-social.jpg'"
        alt="People and a tree"
        loading="lazy"
      >
      <h3>Social</h3>
      <p>
        We are committed to a diverse and inclusive culture where everyone's
        voice is heard. Calorie Extraction makes sure everyone feels like they
        belong and are empowered to put their very best foot forward. We
        support local communities, the development and well-being of our
        employees, and education.
      </p>
    </div>
    <div class="esg-item">
      <img
        [src]="routePrefix + '/assets/images/about/esg-environmental.jpg'"
        alt="A tree"
        loading="lazy"
      >
      <h3>Governance</h3>
      <p>
        Calorie Extraction puts itself to the highest standards of social
        responsibility and accountability in operations and reporting. We
        collect data and ensure it is being used responsibly to the highest
        degree. We make sure all data is presented accurately and not at a
        questionable angle. We comply with all rules and regulations set by
        lawmakers.
      </p>
    </div>
  </section>
</div>