<div class="contact">
  <section class="contact-section-1">
    <img
      [src]="routePrefix + '/assets/images/contact/contact.jpg'"
      alt="Two people"
      loading="lazy"
    >
    <div class="black-background">
      <div class="hero-message">
        <h1>
          We are happy to assist you with whatever you need. Get in touch with
          an expert today!
        </h1>
        <div class="contact-info">
          <mat-icon
            class="icon"
            fontSet="material-icons-round"
            aria-label="shield"
          >
            schedule
          </mat-icon>
          <h2>Monday - Friday | 9:00 AM - 5:00 PM</h2>
          <mat-icon
            class="icon"
            fontSet="material-icons-round"
            aria-label="shield"
          >
            call
          </mat-icon>
          <h2>(123)-456-7890</h2>
        </div>
      </div>
    </div>
  </section>
</div>