<div
  class="healthy-meals-container"
  *ngFor="let food of healthyMeals; last as isLast"
>
  <h1>{{ food.title }}</h1>
  <div class="flex">
    <mat-icon aria-label="clock">schedule</mat-icon>
    <h3>{{ food.mealPreparation + " minute prep time" }}</h3>
  </div>
  <div class="flex">
    <mat-icon aria-label="restaurant">restaurant</mat-icon>
    <h3>{{ food.servings + " servings" }}</h3>
  </div>
  <div class="flex">
    <mat-icon aria-label="egg">egg</mat-icon>
    <h3>{{ food.calories + " calories" }}</h3>
  </div>
  <div class="flex yellow-stars">
    <mat-icon aria-label="star" *ngFor="let star of numSequence(food.stars)">
      star
    </mat-icon>
  </div>
  <img
    src="{{ routePrefix + food.image }}"
    alt="{{ food.imageAlt }}"
    loading="lazy"
  >
  <p class="description">{{ food.description }}</p>
  <button
    mat-button
    color="primary"
    (click)="cookItem(food.link)"
  >
    COOK IT
  </button>
  <mat-divider *ngIf="!isLast" />
</div>
<app-paginate
  [totalItems]="totalItems"
  (paginationClicked)="handlePagination($event)"
/>